.clothes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.cloth {
    flex: 0 0 33.333333%;
    padding-top: 10px;
}

.clothes:nth-child(even){
    margin-left: 180px;
    margin-right: 180px;
}

.list {
    list-style: none;
    text-align: center;
}

.product {
    cursor: pointer;
}

